In [7]:
#instalando o pymongo para conectar com mongodb cloud (atlasy)
!pip uninstall -y pymongo
!pip install pymongo[srv]

Found existing installation: pymongo 4.1.0
Uninstalling pymongo-4.1.0:
  Successfully uninstalled pymongo-4.1.0
Collecting pymongo[srv]
  Using cached pymongo-4.1.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (462 kB)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.1)
Installing collected packages: pymongo
Successfully installed pymongo-4.1.0

In [8]:
#importando pandas
import pandas as pd

In [9]:
#IMPORTANDO PYMONGO
MONGO_PASSWORD = 'xxxxxxxxx'
MONGO_USER = 'estudante_igti'
DATABASE = 'ibge'
HOST='xxxxxxxxxxxx'
import pymongo
import json

In [10]:
#TESNTANDO NO BANCO
try:    
  client = pymongo.MongoClient("mongodb+srv://%s:%s@%s/%s?retryWrites=true&w=majority"%(MONGO_USER,MONGO_PASSWORD,HOST,DATABASE))        
  #db = client.test
  db = client.get_database(DATABASE)
  print('conectou')  
  print(db.pnadc20203) 
  
  collection = db.pnadc20203
  print(type(collection))
  contagem = collection.count_documents({})
  print(contagem)
except Exception as inst:       
  print('erro no acesso ao banco coleção livros : %s' %(inst))

conectou
Collection(Database(MongoClient(host=['unicluster-shard-00-02.ixhvw.mongodb.net:27017', 'unicluster-shard-00-01.ixhvw.mongodb.net:27017', 'unicluster-shard-00-00.ixhvw.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-5wtvta-shard-0', tls=True), 'ibge'), 'pnadc20203')
<class 'pymongo.collection.Collection'>
368210

In [30]:
#pegando do banco
try:    
  client = pymongo.MongoClient("mongodb+srv://%s:%s@%s/%s?retryWrites=true&w=majority"%(MONGO_USER,MONGO_PASSWORD,HOST,DATABASE))        
  #db = client.test
  db = client.get_database(DATABASE)
  collection = db.pnadc20203
  #filtrando mulheres de 20 a 40 anos
  cursor = collection.find({"$and":[{"sexo":"Mulher"},{"idade":{"$gte":20}},{"idade": {"$lte":40}}]})
  df =  pd.DataFrame(list(cursor))

except Exception as inst:       
  print('erro no acesso ao banco coleção livros : %s' %(inst))

In [ ]:
#for ibge in collection.find({'trab': 'Pessoas fora da força de trabalho'}):
#  print(ibge)
#for ibge in collection.find({"$and":[{"sexo":"Mulher"},{"idade":{"$gte":20}},{"idade": {"$lte":40}}]}):
#  print(ibge)

In [31]:
df

,_id,ano,trimestre,uf,sexo,idade,cor,graduacao,trab,ocup,renda,horastrab,anosesco
0,600ce0685daa95c6616007b1,2020,3,Acre,Mulher,35,Parda,None,Pessoas na força de trabalho,Pessoas ocupadas,800.0,36.0,16.0
1,600ce0685daa95c6616007b9,2020,3,Acre,Mulher,21,Parda,None,Pessoas fora da força de trabalho,None,NaN,NaN,12.0
2,600ce0685daa95c6616007bf,2020,3,Acre,Mulher,30,Branca,None,Pessoas na força de trabalho,Pessoas ocupadas,1049.0,44.0,16.0
3,600ce0685daa95c6616007c2,2020,3,Acre,Mulher,40,Parda,None,Pessoas na força de trabalho,Pessoas ocupadas,600.0,25.0,9.0
4,600ce0685daa95c6616007c3,2020,3,Acre,Mulher,24,Parda,Sim,Pessoas na força de trabalho,Pessoas ocupadas,200.0,18.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57330,600ce06a5daa95c66165a5e7,2020,3,Tocantins,Mulher,22,Parda,None,Pessoas na força de trabalho,Pessoas desocupadas,NaN,NaN,12.0
57331,600ce06a5daa95c66165a5e9,2020,3,Tocantins,Mulher,37,Parda,None,Pessoas na força de trabalho,Pessoas ocupadas,1045.0,40.0,5.0
57332,600ce06a5daa95c66165a5ec,2020,3,Tocantins,Mulher,32,Parda,None,Pessoas na força de trabalho,Pessoas ocupadas,2000.0,40.0,16.0
57333,600ce06a5daa95c66165a5ef,2020,3,Tocantins,Mulher,37,Parda,None,Pessoas na força de trabalho,Pessoas ocupadas,1500.0,40.0,12.0
57334,600ce06a5daa95c66165a5fc,2020,3,Tocantins,Mulher,27,Parda,None,Pessoas na força de trabalho,Pessoas ocupadas,1045.0,40.0,14.0

In [34]:
#Qual é a média de renda das pessoas presentes no seu banco de dados? 
df.renda.mean()

1809.284263959391

In [35]:
df.uf.unique()

array(['Acre', 'Alagoas', 'Amapá', 'Amazonas', 'Bahia', 'Ceará',
       'Distrito Federal', 'Espírito Santo', 'Goiás', 'Maranhão',
       'Mato Grosso', 'Mato Grosso do Sul', 'Minas Gerais', 'Pará',
       'Paraíba', 'Paraná', 'Pernambuco', 'Piauí', 'Rio de Janeiro',
       'Rio Grande do Norte', 'Rio Grande do Sul', 'Rondônia', 'Roraima',
       'Santa Catarina', 'São Paulo', 'Sergipe', 'Tocantins'],
      dtype=object)

In [36]:
#Qual é a média de renda das pessoas que residem no Distrito Federal? 
df.loc[df['uf']=='Distrito Federal']['renda'].mean()

2795.944869831547

In [44]:
#Qual é a média de renda das pessoas que moram na região sudeste do país (dos que estão na sua amostra, é claro)?
sudeste =  ['São Paulo','Rio de Janeiro','Espírito Santo','Minas Gerais']
df.loc[(df['uf'].isin(sudeste))]['renda'].mean()

2034.061875

In [48]:
#Qual é o estado brasileiro que possui a menor média de renda?
df.groupby('uf')['renda'].mean().sort_values().head(2)

uf
Alagoas     1116.098996
Maranhão    1116.234091
Name: renda, dtype: float64

In [50]:
#Qual é o estado brasileiro que possui a maior média de escolaridade? 
df.groupby('uf')['anosesco'].mean().sort_values(ascending=False).head(2)

uf
Distrito Federal    13.109712
São Paulo           12.623122
Name: anosesco, dtype: float64

In [51]:
#Qual é a média de escolaridade entre as mulheres que moram no Paraná e estão entre 25 e 30 anos? 
df.loc[(df.uf=='Paraná')&(df.idade>=25)&(df.idade<=30)]['anosesco'].mean()

12.613469985358712

In [52]:
#Qual é a média de renda para as pessoas na região Sul do país, que estão na força de trabalho e possuem entre 25 e 35 anos? 
sul=['Paraná','Santa Catarina','Rio Grande do Sul']
df.loc[(df['uf'].isin(sul))&(df.trab=='Pessoas na força de trabalho')&(df.idade>=25)&(df.idade<=35)]['renda'].mean()

2231.8926080892606

In [54]:
#Qual é a renda média das mulheres que residem na região Norte do Brasil, possuem graduação, têm idade entre 25 e 35 anos e são pretas ou pardas? 
norte=['Pará','Amazonas','Acre','Rondônia','Roraima','Tocantins','Amapá']
raca=['Parda','Preta']
df.loc[(df['uf'].isin(norte))&(df.graduacao=='Sim')&(df.idade>=25)&(df.idade<=35)&(df.cor.isin(raca))]['renda'].mean()

1391.6666666666667