In [1]:
import pandas as pd
import numpy as np
import random
import dask.dataframe as dd
source = 'MICRODADOS_ENEM_2020.csv'

In [10]:
df = dd.read_csv(source,encoding="ISO-8859-1",delimiter=";",
                    usecols=['NU_NOTA_MT','SG_UF_ESC','NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC',
                            'TP_SEXO','NO_MUNICIPIO_ESC','Q021','Q016','Q002','Q005','Q001','Q006',
                            'TP_LINGUA','TP_FAIXA_ETARIA','TP_ESCOLA'])

In [11]:
df.head(10)

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESCOLA,NO_MUNICIPIO_ESC,SG_UF_ESC,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,Q001,Q002,Q005,Q006,Q016,Q021
0,11,F,1,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
1,11,M,1,NaN,NaN,604.1,661.7,595.3,711.3,1,NaN,NaN,NaN,NaN,NaN,NaN
2,4,F,2,Salvador,BA,NaN,NaN,NaN,NaN,0,B,C,3.0,B,B,A
3,2,M,2,Santana de Parnaíba,SP,620.8,675.0,624.2,759.4,0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,F,1,NaN,NaN,NaN,NaN,NaN,NaN,1,B,G,3.0,B,A,B
5,3,F,1,NaN,NaN,498.1,604.7,505.4,526.7,1,C,B,5.0,C,B,A
6,9,M,1,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
7,4,M,1,NaN,NaN,604.6,604.8,562.1,753.2,0,NaN,NaN,NaN,NaN,NaN,NaN
8,5,F,1,NaN,NaN,439.7,383.5,486.2,448.5,1,B,C,2.0,B,A,A
9,2,M,2,NaN,NaN,NaN,NaN,NaN,NaN,0,A,A,4.0,B,A,A

In [14]:
df.count().compute()

TP_FAIXA_ETARIA     5783109
TP_SEXO             5783109
TP_ESCOLA           5783109
NO_MUNICIPIO_ESC     904569
SG_UF_ESC            904569
NU_NOTA_CN          2597440
NU_NOTA_CH          2754140
NU_NOTA_LC          2754140
NU_NOTA_MT          2597440
TP_LINGUA           5783109
Q001                5687143
Q002                5687143
Q005                5687143
Q006                5687143
Q016                5687143
Q021                5687143
dtype: int64

In [15]:
columns=['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT']
df[columns] = df[columns].fillna(value=0)

In [16]:
#Qual é a média da nota em matemática dos alunos que estudaram numa escola em Minas Gerais?
consulta1 = df.loc[df['SG_UF_ESC'] == 'MG']['NU_NOTA_MT'].mean()
consulta1.compute()

380.43452118300894

In [17]:
#Qual é a média da nota em Linguagens e Códigos dos alunos que estudaram numa escola em Minas Gerais?
consulta2 = df.loc[df['SG_UF_ESC'] == 'MG']['NU_NOTA_LC'].mean()
consulta2.compute()

375.1008866981316

In [18]:
#Qual é a média da nota em Ciências Humanas dos alunos do sexo FEMININO que estudaram numa escola em Minas Gerais?
consulta3 =df.loc[(df['TP_SEXO'] == 'F')&(df['SG_UF_ESC'] == 'MG')]['NU_NOTA_CH'].mean()
consulta3.compute()

370.47103337676657

In [19]:
#Qual é a média da nota em Ciências Humanas dos alunos do sexo MASCULINO que estudaram numa escola em Minas Gerais?
consulta4 = df.loc[(df['TP_SEXO'] == 'M')&(df['SG_UF_ESC'] == 'MG')]['NU_NOTA_CH'].mean()
consulta4.compute()

375.2366019050022

In [20]:
#Qual é a média da nota em Matemática dos alunos do sexo FEMININO que estudaram numa escola na cidade de Montes Claros?
consulta5 = df.loc[(df['TP_SEXO'] == 'F')&(df['NO_MUNICIPIO_ESC'] == 'Montes Claros')]['NU_NOTA_MT'].mean()
consulta5.compute()

425.14493273542604

In [24]:
#Qual é a média da nota em Matemática dos alunos que estudaram numa escola no município de Sabará e que possuem TV por assinatura na residência?
consulta6 = df.loc[(df['NO_MUNICIPIO_ESC'] == 'Sabará')&(df['Q021']=='B')]['NU_NOTA_MT'].mean()
consulta6.compute()

422.4663043478261

In [22]:
#Qual é a média da nota em Ciências Humanas dos alunos que estudaram numa escola em Minas Gerais e que possuem dois fornos micro-ondas em casa?
consulta7=df.loc[(df['Q016'] == 'C')&(df['SG_UF_ESC'] == 'MG')]['NU_NOTA_CH'].mean()
consulta7.compute()

438.6502762430939

In [25]:
#Qual é a nota média em Matemática dos alunos que estudaram numa escola em Minas Gerais e cuja mãe completou a pós-graduação?
consulta8 = df.loc[(df['Q002'] == 'G')&(df['SG_UF_ESC'] == 'MG')]['NU_NOTA_MT'].mean()
consulta8.compute()

529.7195819154108

In [27]:
#Qual é a nota média em Matemática dos alunos que estudaram numa escola em Belo Horizonte ou em Conselheiro Lafaiete?
consulta9 = df.loc[(df['NO_MUNICIPIO_ESC'] == 'Conselheiro Lafaiete')|(df['NO_MUNICIPIO_ESC'] == 'Belo Horizonte')]['NU_NOTA_MT'].mean()
consulta9.compute()

439.5216971956557

In [28]:
#Qual é a nota média em Ciências Humanas dos alunos que estudaram numa escola em Minas Gerais e que moram sozinhos?
consulta10 = df.loc[(df['Q005'] == 1)&(df['SG_UF_ESC'] == 'MG')]['NU_NOTA_CH'].mean()
consulta10.compute()

203.48824940047962

In [29]:
#Qual é a nota média em Ciências Humanas dos alunos que estudaram numa escola em Minas Gerais, cujo pai completou pós-graduação 
#e possuem renda familiar entre R$ 8.360,01 e R$ 9.405,00?
consulta11 = df.loc[(df['Q001'] == 'G')&(df['SG_UF_ESC'] == 'MG')&(df['Q006'] =='L')]['NU_NOTA_CH'].mean()
consulta11.compute()

544.6709016393443

In [30]:
#Qual é a nota média em Matemática dos alunos do sexo Feminino que estudaram numa escola em Lavras e escolheram “Espanhol” como língua estrangeira?
consulta12 = df.loc[(df['TP_SEXO'] == 'F')&(df['NO_MUNICIPIO_ESC'] == 'Lavras')&(df['TP_LINGUA']==1)]['NU_NOTA_MT'].mean()
consulta12.compute()

342.2555555555556

In [31]:
#Qual é a nota média em Matemática dos alunos do sexo Masculino que estudaram numa escola em Ouro Preto?
consulta13 = df.loc[(df['TP_SEXO'] == 'M')&(df['NO_MUNICIPIO_ESC'] == 'Ouro Preto')]['NU_NOTA_MT'].mean()
consulta13.compute()

416.5134328358209

In [34]:
#Qual é a nota média em Ciências Humanas dos alunos que estudaram numa escola em Minas Gerais e possuem entre 26 e 30 anos?
consulta14 = df.loc[(df['TP_FAIXA_ETARIA'] == 11)&(df['SG_UF_ESC'] == 'MG')]['NU_NOTA_CH'].mean()
consulta14.compute()

473.47792207792213

In [32]:
#Qual é a nota média em Matemática dos alunos do sexo FEMININO, que estudaram numa escola em Belo Horizonte, 
#Sabará, Nova Lima ou Betim e estudaram em uma escola privada?
consulta15 = df.loc[((df['NO_MUNICIPIO_ESC'] == 'Belo Horizonte')|(df['NO_MUNICIPIO_ESC'] == 'Betim')|(df['NO_MUNICIPIO_ESC'] == 'Nova Lima')|(df['NO_MUNICIPIO_ESC'] == 'Sabará'))&(df['TP_SEXO'] == 'F')&(df['TP_ESCOLA']==3)]['NU_NOTA_MT'].mean()
consulta15.compute()

583.1567367119901