In [1]:
import pandas as pd
import numpy as np
import random

source = 'MICRODADOS_ENEM_2020.csv'

df = pd.read_csv(source,encoding="ISO-8859-1",delimiter=";",
                    usecols=['NU_NOTA_MT','SG_UF_ESC','NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC',
                            'TP_SEXO','NO_MUNICIPIO_ESC','Q021','Q016','Q002','Q005','Q001','Q006',
                            'TP_LINGUA','TP_FAIXA_ETARIA','TP_ESCOLA'],nrows=2500000)

In [2]:
df.iloc[-1:]

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESCOLA,NO_MUNICIPIO_ESC,SG_UF_ESC,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,Q001,Q002,Q005,Q006,Q016,Q021
2499999,3,F,1,NaN,NaN,NaN,NaN,NaN,NaN,0,D,C,4.0,D,B,A

In [5]:
df.head()

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESCOLA,NO_MUNICIPIO_ESC,SG_UF_ESC,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,Q001,Q002,Q005,Q006,Q016,Q021
0,11,F,1,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
1,11,M,1,NaN,NaN,604.1,661.7,595.3,711.3,1,NaN,NaN,NaN,NaN,NaN,NaN
2,4,F,2,Salvador,BA,NaN,NaN,NaN,NaN,0,B,C,3.0,B,B,A
3,2,M,2,Santana de Parnaíba,SP,620.8,675.0,624.2,759.4,0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,F,1,NaN,NaN,NaN,NaN,NaN,NaN,1,B,G,3.0,B,A,B

In [3]:
df2 = pd.read_csv(source,encoding="ISO-8859-1",delimiter=";",
                    usecols=['NU_NOTA_MT','SG_UF_ESC','NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC',
                            'TP_SEXO','NO_MUNICIPIO_ESC','Q021','Q016','Q002','Q005','Q001','Q006',
                            'TP_LINGUA','TP_FAIXA_ETARIA','TP_ESCOLA'],skiprows = [i for i in range(1,2500000) ])

In [4]:
df2.head()

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESCOLA,NO_MUNICIPIO_ESC,SG_UF_ESC,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,Q001,Q002,Q005,Q006,Q016,Q021
0,3,F,1,NaN,NaN,NaN,NaN,NaN,NaN,0,D,C,4.0,D,B,A
1,15,F,1,NaN,NaN,NaN,NaN,NaN,NaN,0,B,B,4.0,C,A,B
2,4,M,1,NaN,NaN,NaN,NaN,NaN,NaN,1,C,B,4.0,B,B,A
3,6,F,1,NaN,NaN,458.3,397.9,385.0,451.9,0,C,E,3.0,D,B,A
4,4,M,1,NaN,NaN,NaN,NaN,NaN,NaN,0,D,F,4.0,D,B,A

In [6]:
df = df.append(df2)

In [8]:
df.shape

(5783110, 16)

In [11]:
#Qual é a média da nota em matemática dos alunos que estudaram numa escola em Minas Gerais?
df.loc[df['SG_UF_ESC'] == 'MG']['NU_NOTA_MT'].mean()

579.6812230047454

In [12]:
#Qual é a média da nota em Linguagens e Códigos dos alunos que estudaram numa escola em Minas Gerais?
df.loc[df['SG_UF_ESC'] == 'MG']['NU_NOTA_LC'].mean()

553.0102913021044

In [16]:
#Qual é a média da nota em Ciências Humanas dos alunos do sexo FEMININO que estudaram numa escola em Minas Gerais?
df.loc[(df['TP_SEXO'] == 'F')&(df['SG_UF_ESC'] == 'MG')]['NU_NOTA_CH'].mean()

541.30846117234

In [17]:
#Qual é a média da nota em Ciências Humanas dos alunos do sexo MASCULINO que estudaram numa escola em Minas Gerais?
df.loc[(df['TP_SEXO'] == 'M')&(df['SG_UF_ESC'] == 'MG')]['NU_NOTA_CH'].mean()

559.5546844135107

In [18]:
#Qual é a média da nota em Matemática dos alunos do sexo FEMININO que estudaram numa escola na cidade de Montes Claros?
df.loc[(df['TP_SEXO'] == 'F')&(df['NO_MUNICIPIO_ESC'] == 'Montes Claros')]['NU_NOTA_MT'].mean()

562.9888361045129

In [21]:
#Qual é a média da nota em Matemática dos alunos que estudaram numa escola no município de Sabará e que possuem TV por assinatura na residência?
df.loc[(df['NO_MUNICIPIO_ESC'] == 'Sabará')&(df['Q021']=='B')]['NU_NOTA_MT'].mean()

580.102985074627

In [22]:
#Qual é a média da nota em Ciências Humanas dos alunos que estudaram numa escola em Minas Gerais e que possuem dois fornos micro-ondas em casa?
df.loc[(df['Q016'] == 'C')&(df['SG_UF_ESC'] == 'MG')]['NU_NOTA_CH'].mean()

601.4825757575752

In [23]:
#Qual é a nota média em Matemática dos alunos que estudaram numa escola em Minas Gerais e cuja mãe completou a pós-graduação?
df.loc[(df['Q002'] == 'G')&(df['SG_UF_ESC'] == 'MG')]['NU_NOTA_MT'].mean()

642.24518448662

In [26]:
#Qual é a nota média em Matemática dos alunos que estudaram numa escola em Belo Horizonte ou em Conselheiro Lafaiete?
df.loc[(df['NO_MUNICIPIO_ESC'] == 'Conselheiro Lafaiete')|(df['NO_MUNICIPIO_ESC'] == 'Belo Horizonte')]['NU_NOTA_MT'].mean()

621.0282524049466

In [28]:
#Qual é a nota média em Ciências Humanas dos alunos que estudaram numa escola em Minas Gerais e que moram sozinhos?
df.loc[(df['Q005'] == 1)&(df['SG_UF_ESC'] == 'MG')]['NU_NOTA_CH'].mean()

537.0544303797469

In [30]:
#Qual é a nota média em Ciências Humanas dos alunos que estudaram numa escola em Minas Gerais, cujo pai completou pós-graduação 
#e possuem renda familiar entre R$ 8.360,01 e R$ 9.405,00?
df.loc[(df['Q001'] == 'G')&(df['SG_UF_ESC'] == 'MG')&(df['Q006'] =='L')]['NU_NOTA_CH'].mean()

623.9422535211263

In [32]:
#Qual é a nota média em Matemática dos alunos do sexo Feminino que estudaram numa escola em Lavras e escolheram “Espanhol” como língua estrangeira?
df.loc[(df['TP_SEXO'] == 'F')&(df['NO_MUNICIPIO_ESC'] == 'Lavras')&(df['TP_LINGUA']==1)]['NU_NOTA_MT'].mean()

513.3833333333336

In [33]:
#Qual é a nota média em Matemática dos alunos do sexo Masculino que estudaram numa escola em Ouro Preto?
df.loc[(df['TP_SEXO'] == 'M')&(df['NO_MUNICIPIO_ESC'] == 'Ouro Preto')]['NU_NOTA_MT'].mean()

615.5823529411764

In [34]:
#Qual é a nota média em Ciências Humanas dos alunos que estudaram numa escola em Minas Gerais e possuem entre 26 e 30 anos?
df.loc[(df['TP_FAIXA_ETARIA'] == 11)&(df['SG_UF_ESC'] == 'MG')]['NU_NOTA_CH'].mean()

473.47792207792213

In [39]:
#Qual é a nota média em Matemática dos alunos do sexo FEMININO, que estudaram numa escola em Belo Horizonte, 
#Sabará, Nova Lima ou Betim e estudaram em uma escola privada?
df.loc[((df['NO_MUNICIPIO_ESC'] == 'Belo Horizonte')|(df['NO_MUNICIPIO_ESC'] == 'Betim')|(df['NO_MUNICIPIO_ESC'] == 'Nova Lima')|(df['NO_MUNICIPIO_ESC'] == 'Sabará'))&(df['TP_SEXO'] == 'F')&(df['TP_ESCOLA']==3)]['NU_NOTA_MT'].mean()

679.1369481765836